{{ 'main-product.css' | asset_url | stylesheet_tag }}
{{ 'photoswipe.css' | asset_url | stylesheet_tag }}

<!-- Utilities NON CANCELLARE -->

<!-- Find current product model_code -->
{% for tag in product.tags %}
  {% if tag contains 'model_code:' %}
    {% if tag != 'model_code:' %}
      {% assign model_code = tag %}
    {% endif %}
  {% endif %}
  {% if tag contains 'availability:matrix' %}
    {% if tag != 'model_code:' %}
      {% assign matrix = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% for tag in product.tags %}
  {% if tag contains 'model_code:' %}
    {% if tag != 'model_code:' %}
      {% assign model = tag | remove: 'model_code:' %}
    {% endif %}
  {% endif %}
{% endfor %}

<!-- Find current product type: -->
{% for tag in product.tags %}
  {% if tag contains 'type:' %}
    {% assign product_type = tag | remove: 'type:' %}
  {% endif %}
{% endfor %}

<!-- Find current product material: -->
{% for tag in product.tags %}
  {% if tag contains 'material:' %}
    {% assign product_material = tag | remove: 'material:' %}
  {% endif %}
{% endfor %}

<!-- Find current product lens_features: -->
{% for tag in product.tags %}
  {% if tag contains 'lens_features:' %}
    {% assign product_lens_features = tag | remove: 'lens_features:' %}
  {% endif %}
{% endfor %}

<!-- Find current product lens_color: -->
{% for tag in product.tags %}
  {% if tag contains 'lens_color:' %}
    {% assign product_lens_color = tag | remove: 'lens_color:' %}
  {% endif %}
{% endfor %}

<!-- Find current product frame_color: -->
{% for tag in product.tags %}
  {% if tag contains 'frame_color:' %}
    {% assign product_frame_color = tag | remove: 'frame_color:' %}
  {% endif %}
{% endfor %}

<!-- Find current product shape: -->
{% for tag in product.tags %}
  {% if tag contains 'shape:' %}
    {% assign product_shape = tag | remove: 'shape:' %}
  {% endif %}

  {% if tag contains 'product_sku:' %}
    {% assign product_sku = tag | remove: 'product_sku:' %}
  {% endif %}

  {% if tag contains 'gender:' %}
    {% assign gender = tag | remove: 'gender:' %}
  {% endif %}
{% endfor %}

{% if product.compare_at_price > product.price %}
  <!-- Capture discount -->
  {% capture discount %}
    {{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max}}%
{% endcapture %}
  <!-- end Capture discount -->
{% endif %}

<!-- Calculate discount -->
{%- assign discount = product.compare_at_price
  | minus: product.price
  | divided_by: compare_at_float
  | times: 100
  | round
-%}

{% liquid
  assign type = ''
  if product.type contains 'sole'
    assign type = 'sole'
  endif
  if product.type contains 'vista'
    assign type = 'vista'
  endif

  assign handle = model_code | remove: 'model_code:' | append: '-' | append: type | handleize
%}

<!-- End utils -->

<section class="main_product">
  <div class="product-medias mobile-only">
    <div id="image-slider-mobile" class="splide" aria-label="{{product.title}}">
      <div class="splide__track">
        <ul class="splide__list">
          <!-- include 'wishlist-button-floating' with '{{ product_ref.id }}' -->
          {% for media in product.media %}
            {% if media.media_type == 'video' %}
              <li class="splide__slide">
                <div class="video-wrapper">
                  {{ media | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '1080x' }}
                </div>
              </li>
            {% endif %}
          {% endfor %}

          {% for media in product.media %}
            {% if media.media_type == 'image' %}
              <li class="splide__slide">
                {% assign image_src = media | image_url: width: 800 %}
                {% unless image.aspect_ratio == 1.0 %}
                  <div class="img-wrapper">
                    {% render 'product-media-zoom' | media: media %}
                  </div>
                {% endunless %}
              </li>
            {% endif %}
          {% endfor %}
          <li class="splide__slide">
            {% assign image_src = 'pack-356.png' | asset_img_url: '500x' %}
            <div class="img-wrapper">
              <img src="{{ image_src }}" alt="" width="500" height="750">
            </div>
          </li>
          <li class="splide__slide">
            {% assign image_src = 'un-boxed-pack.png' | asset_img_url: '500x' %}
            <div class="img-wrapper">
              <img src="{{ image_src }}" alt="" width="500" height="750">
            </div>
          </li>
        </ul>
        <!-- Add the progress bar element -->
        <div class="carousel-progress">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-medias desktop-only">
    <div
      style="
        position: absolute;
        inset: 0;
        background-color: #000000;
        opacity: 0.04;
        z-index: 99;
      "
    ></div>

    {% for media in product.media %}
      {% if media.media_type == 'video' %}
        <div class="video-wrapper">
          {{ media | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '1080x' }}
        </div>
      {% endif %}
    {% endfor %}

    {% for media in product.media %}
      {% if media.media_type == 'image' %}
        <img
          style="width: 100%;"
          src="{{ media.src | img_url: '1000x' }}"
          alt="{{ product.title }} {{ forloop.index }}"
        >
      {% endif %}
    {% endfor %}
    <img src="{{ 'pack-356.png' | asset_img_url: '1000x' }}" alt="" width="1000" height="auto">
    <img src="{{ 'un-boxed-pack.png' | asset_img_url: '1000x' }}" alt="" width="1000" height="auto">
  </div>

  <div class="product-details-wrapper">
    <div class="product-details">
      {% assign full_url = request.host | append: request.path %}
      {% unless full_url contains '-mx' %}
        {% if discount %}
          <div class="flex-row">
            <span class="label">-{% render 'discount-rounding' | discount: discount %}</span>
            <p class="money deleted-money">{{ product.compare_at_price | money }}</p>
          </div>
        {% endif %}
      {% endunless %}

      {% if matrix %}
        <div>
          <span
            class="label"
            style="margin-bottom: 1rem; display: inline-block; background-color: #000000; color: #FFFFFF; font-size: 11px; padding: 6px 8px;"
            >NEW</span
          >
        </div>
      {% endif %}

      <div class="flex-row">
        <h1>{{ model }}</h1>

        <div class="prices">
          {% if full_url contains '-mx' %}
            <p class="money">{{ 'general.not_sellable' | t }}</p>
          {% else %}
            <p class="money">{{ product.price | money }}</p>
          {% endif %}
        </div>
      </div>

      <div>
        <p class="description">
          {{ product.description }}
        </p>

        <p class="sku">
          {{ product_sku | upcase }}
        </p>
      </div>

      {% unless full_url contains '-mx' %}
        {%- form 'product', product, id: 'product-form' -%}
          <div
            class="sizes"
            {% if product.variants.size < 2 %}
              style="display: none !important;"
            {% endif %}
          >
            {% if product.variants.size > 0 %}
              {% for variant in product.variants %}
                <label class="form-control">
                  <input
                    type="radio"
                    name="id"
                    value="{{variant.id}}"
                    {% if product.first_available_variant %}
                      checked
                    {% endif %}
                  >
                  <span
                    class="size"
                    {% if variant.available == false %}
                      disabled
                      style="opacity: 0.5;"
                    {% endif %}
                  >
                    {% if variant.title == 'Default Title' %}
                      TU
                    {% else %}
                      {{ variant.title }}
                    {% endif %}
                  </span>
                </label>
              {% endfor %}

            {% else %}
              <input type="radio" hidden name="id" value="{{product.first_available_variant.variant.id}}" checked>
            {% endif %}
          </div>

          <button
            type="submit"
            class="add-to-cart-button"
            id="add-to-cart-button"
            {% unless product.available %}
              disabled style="cursor: not-allowed; opacity: 0.7"
            {% endunless %}
          >
            <span class="text">
              {% unless product.available %}
                {{ 'products.product.not_available' | t }}
              {% else %}
                {{ 'products.product.available' | t }}
              {% endunless %}
            </span>
          </button>

          <small id="error-messages"></small>
        {%- endform -%}
        <div class="custom-infos">
          <ul>
            <li>{% render 'expected-delivery' %}</li>
            <li class="scalapay">
              <p>
                Paga in 3 rate da {{ product.price | divided_by: 3 | money }}
                <svg xmlns="http://www.w3.org/2000/svg" width="132" viewBox="0 0 132 35" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.256527 15.5036C-0.0990205 15.0963 -0.0832167 14.4871 0.292984 14.0984L4.2983 9.96013C4.71179 9.53291 5.40037 9.53291 5.81386 9.96013L8.87503 13.1229C9.28852 13.5501 9.9771 13.5501 10.3906 13.1229L13.3641 10.0507C13.7776 9.62348 14.4662 9.62348 14.8797 10.0507L18.8708 14.1743C19.2468 14.5628 19.2628 15.1716 18.9077 15.579L10.4151 25.3224C9.99624 25.8029 9.24538 25.8032 8.8262 25.3229L0.256527 15.5036ZM23.3848 22.2368L24.9814 19.7895C25.8176 20.5789 27.1101 21.0526 28.3518 21.0526C29.2388 21.0526 29.923 20.6053 29.923 19.9737C29.923 18.0526 23.9677 18.7368 23.9677 14.6316C23.9677 12.1842 26.2484 10.6579 28.6813 10.6579C30.2778 10.6579 32.0264 11.2895 32.8373 11.9474L31.2915 14.4211C30.6579 13.9474 29.8217 13.5526 28.9347 13.5526C28.0224 13.5526 27.2621 13.9211 27.2621 14.5789C27.2621 16.2368 33.2175 15.5789 33.2175 20C33.2175 22.4474 30.9114 23.9474 28.3265 23.9474C26.6286 23.9474 24.8293 23.3421 23.3848 22.2368ZM44.8747 19.1053L47.4089 21.0789C45.9644 23.0789 44.1398 23.9474 41.8337 23.9474C38.0324 23.9474 35.2448 21 35.2448 17.3158C35.2448 13.6053 38.1084 10.6579 41.859 10.6579C43.9877 10.6579 45.8884 11.6842 47.0288 13.2105L44.6973 15.3421C44.0384 14.4474 43.0501 13.8158 41.859 13.8158C39.9584 13.8158 38.5392 15.3684 38.5392 17.3158C38.5392 19.3158 39.9331 20.7895 41.9351 20.7895C43.2782 20.7895 44.3425 19.9474 44.8747 19.1053ZM58.4326 19.2105V15.3947C57.7484 14.4474 56.6587 13.8158 55.3916 13.8158C53.4656 13.8158 52.2238 15.4737 52.2238 17.3158C52.2238 19.3158 53.6176 20.7895 55.4676 20.7895C56.7094 20.7895 57.7991 20.1579 58.4326 19.2105ZM61.727 10.9211V23.6842H58.5593V22.6579C57.5456 23.5526 56.3799 23.9474 55.1382 23.9474C53.3135 23.9474 51.5903 23.1053 50.5006 21.7895C49.5376 20.6316 48.9294 19.0526 48.9294 17.3158C48.9294 13.5526 51.6156 10.6579 54.9608 10.6579C56.3546 10.6579 57.5963 11.1316 58.5593 11.9474V10.9211H61.727ZM68.8228 5V23.6842H65.5283V5H68.8228ZM81.1136 19.2105V15.3947C80.4293 14.4474 79.3396 13.8158 78.0725 13.8158C76.1466 13.8158 74.9048 15.4737 74.9048 17.3158C74.9048 19.3158 76.2986 20.7895 78.1486 20.7895C79.3903 20.7895 80.48 20.1579 81.1136 19.2105ZM84.408 10.9211V23.6842H81.2403V22.6579C80.2266 23.5526 79.0609 23.9474 77.8191 23.9474C75.9945 23.9474 74.2713 23.1053 73.1816 21.7895C72.2186 20.6316 71.6104 19.0526 71.6104 17.3158C71.6104 13.5526 74.2966 10.6579 77.6417 10.6579C79.0355 10.6579 80.2773 11.1316 81.2403 11.9474V10.9211H84.408ZM88.2093 30V10.9211H91.377V11.9474C92.34 11.1316 93.5817 10.6579 94.9755 10.6579C98.3207 10.6579 101.007 13.5526 101.007 17.3158C101.007 19.0526 100.424 20.6316 99.4611 21.7895C98.3714 23.1053 96.6228 23.9474 94.7982 23.9474C93.5564 23.9474 92.492 23.5789 91.5037 22.7895V30H88.2093ZM91.5037 15.3947V19.2105C92.1373 20.1579 93.227 20.7895 94.4687 20.7895C96.3187 20.7895 97.7125 19.3158 97.7125 17.3158C97.7125 15.4737 96.4707 13.8158 94.5447 13.8158C93.2776 13.8158 92.1879 14.4474 91.5037 15.3947ZM112.537 19.2105V15.3947C111.853 14.4474 110.764 13.8158 109.496 13.8158C107.57 13.8158 106.329 15.4737 106.329 17.3158C106.329 19.3158 107.723 20.7895 109.572 20.7895C110.814 20.7895 111.904 20.1579 112.537 19.2105ZM115.832 10.9211V23.6842H112.664V22.6579C111.65 23.5526 110.485 23.9474 109.243 23.9474C107.418 23.9474 105.695 23.1053 104.605 21.7895C103.642 20.6316 103.034 19.0526 103.034 17.3158C103.034 13.5526 105.72 10.6579 109.066 10.6579C110.459 10.6579 111.701 11.1316 112.664 11.9474V10.9211H115.832ZM123.536 30H120.089L123.485 22.3947L117.986 10.9211H121.61L125.208 18.5789L128.528 10.9211H132L123.536 30Z" fill="#272727"/>
                </svg>
              </p>
            </li>
          </ul>
        </div>
      {% endunless %}

      {% if collections[handle].all_products_count > 1 %}
        <div class="related_container">
          <div class="related_count">
            + {{ collections[handle].all_products_count | minus: 1 }}
            {{ 'general.colors' | t }}
          </div>
          <div class="related">
            {% for prod in collections[handle].products %}
              {% unless prod.handle == product.handle %}
                <a class="{% if prod.handle == product.handle %}current{% endif%}" href="{{prod.url}}">
                  {% render 'product-media' | media: prod.featured_image %}
                </a>
              {% endunless %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="whatsapp-wrapper">
        <a class="whatsapp-link" href="https://wa.me/+393485257371" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/>
          </svg>
          Whatsapp
        </a>
      </div>

      <div class="details">
        <details open>
          <summary>
            <div>
              <p>{{ 'general.details' | t }}</p>
            </div>

            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.16618 1.42174L6.16602 6.42156L6.45172 6.13586L1.45189 1.13603L1.16618 1.42174Z" fill="#222221" stroke="#222221"/>
              <path d="M10.8806 1.13615L5.88086 6.13593L6.16656 6.42163L11.1663 1.42185L10.8806 1.13615Z" fill="#222221" stroke="#222221"/>
            </svg>
          </summary>

          <div class="content">
            <div class="product-item-details">
              <table>
                <tbody>
                  <tr>
                    <td>A-B-C (MM)</td>
                    {% assign rod = '' %}
                    {% assign caliber = '' %}
                    {% assign bridge = '' %}

                    {% for tag in product.tags %}
                      {% if tag contains 'rod:' %}
                        {% if tag != 'rod:' %}
                          {% assign rod = tag | remove: 'rod:' %}
                        {% endif %}
                      {% endif %}
                      {% if tag contains 'caliber:' %}
                        {% if tag != 'caliber:' %}
                          {% assign caliber = tag | remove: 'caliber:' %}
                        {% endif %}
                      {% endif %}
                      {% if tag contains 'bridge:' %}
                        {% if tag != 'bridge:' %}
                          {% assign bridge = tag | remove: 'bridge:' %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    <td>{{ caliber }}-{{ bridge }}-{{ rod }}</td>
                  </tr>

                  {% assign is_male = false %}
                  {% assign is_female = false %}

                  {% for tag in product.tags %}
                    {% if tag contains 'gender:uomo' %}
                      {% assign is_male = true %}
                    {% endif %}
                    {% if tag contains 'gender:donna' %}
                      {% assign is_female = true %}
                    {% endif %}
                  {% endfor %}

                  <tr>
                    <td>{{ 'general.gender' | t }}:</td>
                    <td>
                      {% if is_male and is_female %}
                        Unisex
                      {% elsif is_male %}
                        Uomo
                      {% elsif is_female %}
                        Donna
                      {% endif %}
                    </td>
                  </tr>

                  {% for tag in product.tags %}
                    {% if tag contains 'shape:' %}
                      {% if tag != 'shape:' %}
                        <tr>
                          <td>{{ 'general.shape' | t }}:</td>
                          <td>{{ tag | remove: 'shape:' | capitalize }}</td>
                        </tr>
                      {% endif %}
                    {% endif %}

                    {% if tag contains 'lens_color:' %}
                      {% if tag != 'lens_color:' %}
                        <tr>
                          <td>{{ 'general.lens_color' | t }}:</td>
                          <td>{{ tag | remove: 'lens_color:' | capitalize }}</td>
                        </tr>
                      {% endif %}
                    {% endif %}

                    {% if tag contains 'frame_color:' %}
                      {% if tag != 'frame_color:' %}
                        <tr>
                          <td>{{ 'general.frame_color' | t }}:</td>
                          <td>{{ tag | remove: 'frame_color:' | capitalize }}</td>
                        </tr>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>

              <img style="padding-top: 1rem; width: 140px" src="{{ 'cpa.png' | asset_img_url: '500x'}}" alt="CPA 356">
            </div>
          </div>
        </details>

        {% if section.settings.payments != blank %}
          <details>
            <summary>
              <div>
                <p>{{ 'general.payments' | t }}</p>
              </div>

              <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.16618 1.42174L6.16602 6.42156L6.45172 6.13586L1.45189 1.13603L1.16618 1.42174Z" fill="#222221" stroke="#222221"/>
                <path d="M10.8806 1.13615L5.88086 6.13593L6.16656 6.42163L11.1663 1.42185L10.8806 1.13615Z" fill="#222221" stroke="#222221"/>
              </svg>
            </summary>

            <div class="content">
              {{ section.settings.payments }}
            </div>
          </details>
        {% endif %}

        {% if section.settings.shippings != blank %}
          <details>
            <summary>
              <div>
                <p>{{ 'general.shippings' | t }}</p>
              </div>

              <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.16618 1.42174L6.16602 6.42156L6.45172 6.13586L1.45189 1.13603L1.16618 1.42174Z" fill="#222221" stroke="#222221"/>
                <path d="M10.8806 1.13615L5.88086 6.13593L6.16656 6.42163L11.1663 1.42185L10.8806 1.13615Z" fill="#222221" stroke="#222221"/>
              </svg>
            </summary>

            <div class="content">
              {{ section.settings.shippings }}
            </div>
          </details>
        {% endif %}

        {% if section.settings.refunds != blank %}
          <details>
            <summary>
              <div>
                <p>{{ 'general.refunds' | t }}</p>
              </div>

              <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.16618 1.42174L6.16602 6.42156L6.45172 6.13586L1.45189 1.13603L1.16618 1.42174Z" fill="#222221" stroke="#222221"/>
                <path d="M10.8806 1.13615L5.88086 6.13593L6.16656 6.42163L11.1663 1.42185L10.8806 1.13615Z" fill="#222221" stroke="#222221"/>
              </svg>
            </summary>

            <div class="content">
              {{ section.settings.refunds }}
            </div>
          </details>
        {% endif %}

        {% if section.settings.maintenance != blank %}
          <details>
            <summary>
              <div>
                <p>{{ 'general.maintenance' | t }}</p>
              </div>

              <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.16618 1.42174L6.16602 6.42156L6.45172 6.13586L1.45189 1.13603L1.16618 1.42174Z" fill="#222221" stroke="#222221"/>
                <path d="M10.8806 1.13615L5.88086 6.13593L6.16656 6.42163L11.1663 1.42185L10.8806 1.13615Z" fill="#222221" stroke="#222221"/>
              </svg>
            </summary>

            <div class="content">
              {{ section.settings.maintenance }}
            </div>
          </details>
        {% endif %}
      </div>

      {% render 'social-share' %}
    </div>
  </div>
</section>

<script src="{{ '_product-image-slider.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "textarea",
      "id": "payments",
      "label": "Pagamenti"
    },
    {
      "type": "textarea",
      "id": "shippings",
      "label": "Spedizioni"
    },
    {
      "type": "textarea",
      "id": "refunds",
      "label": "Resi"
    },
    {
      "type": "textarea",
      "id": "maintenance",
      "label": "Conservazione del prodotto"
    }
  ]
}
{% endschema %}
